<h1 class="blacksea">Black Sea Music</h1>
<p class="front">
<%= link_to image_tag("facebook.png", :alt => "test image", :class => "facebooklogin") , user_omniauth_authorize_path(:facebook) %>
</p>
<p class="front">Listen to radios made by your friends</p>
<p class="front">For those about to rock and who don't have a Facebook account... use <%= link_to 'mine', :controller => 'static_pages', :action => 'palcuie' %> :-)</p>
