<section class="player span6">
          <div class="youtube-player-video">
                  <div class="youtube-player-object">
                          You need Flash player 8+ and JavaScript enabled.
                  </div>  
          </div>  
  <%= content_tag "div", id: "songs", data: {songs: @songs} do %>
  <% end %>
</section>

<div class="span6">
  <%= form_tag :controller => 'player', :action => 'search', :remote => true do %>
    <p>
      <%= search_field_tag :query, params[:query] %>
      <%= submit_tag "Search", :name => nil %>
    </p>
  <% end %>
  <section class="facebook">
    <%= image_tag @picture, :alt => @song['from']['name'] %>
    <%= @song['from']['name'] %>
    <ul class="comments">
    </ul>
  </section>
  <ul class="nav nav-list well radios">
    <li class="nav-header">Radios</li>
    <li><%= link_to "Friends", :controller => "player", :action => "first" %></li>
    <% @playlists.each do |playlist| %>
      <li><%= link_to playlist.name, :controller => "player", 
        :action => "first", :id => playlist.id %></li>
    <% end %>
  </ul>
</div>
