// Place all the styles related to the StaticPages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@import url(http://fonts.googleapis.com/css?family=Press+Start+2P);
@import url(http://fonts.googleapis.com/css?family=Stint+Ultra+Expanded);

.blacksea{
  font-family: 'Press Start 2P', cursive;
  text-align: center;
  font-size:300%;
}
.front{
  text-align: center;
  font-family: 'Stint Ultra Expanded', cursive;
  font-size:130%;
  padding: 50px 0;
}
.facebooklogin{
}
