<!DOCTYPE html>
<html lang="en">
  <!-- Every tag was handcraften with attention -->
  <!-- Designed in Galaciuc :-) -->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Black Sea Music" %></title>
    <%= csrf_meta_tags %>

    <!-- Le HTML5 shim, for IE6-8 support of HTML elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
    <![endif]-->

    <%= stylesheet_link_tag "application", :media => "all" %>

    <!-- For all other devices -->
    <!-- Size should be 32 x 32 pixels -->
    <%= favicon_link_tag 'images/favicon.ico', :rel => 'shortcut icon' %>
  </head>
  <body>

    <header class="navbar navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <a class="brand" href="/">Black Sea Music</a>
          <nav class="container nav-collapse">
            <ul class="nav">
              <li><%= link_to "Player", "/player/"  %></li>
            </ul>
          </nav><!--/.nav-collapse -->
        </div>
      </div>
    </header>

    <div class="container">
      <div class="content">
        <div class="row">
          <div class="span12">
            <%= render 'layouts/messages' %>
          </div>
        </div>
        <div class="row">
          <%= yield %>
        </div>
        </div><!--/row-->
        <footer>
          <p>Designed and coded in Galaciuc by Alex Palcuie</p>
        </footer>
      </div><!--/content-->


      <%= debug(params) if Rails.env.development? %>
      <%= debug(session) if Rails.env.development? %>

    </div> <!-- /container -->

    <!-- Javascripts
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <%= javascript_include_tag "application" %>

  </body>
</html>
